@media screen and (min-width: 0px) {
#header {
  background-color: #333333;
  position: fixed;
  height: auto;
  margin-bottom: auto;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  overflow: auto;
}
}

@media screen and (min-width: 950px) {
#header {
  position: fixed;
  top: -10rem;
  right: 0;
  left: 0;
  margin-bottom: auto;
  height: 10rem;
}
}

.menu-logo {
	order: 1;
	height: 10rem;
	max-width: 30rem;
	margin: auto;
}
.logo-image {
	height: 10rem;
	max-width: 20rem;	
}	
#navspace {
	order: 2;
	width: 15rem;
}
.nav-button1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	color: #333333;
	text-align: center;
	vertical-align: middle;
	line-height: 5rem; 
	order: 3;
	height: 100%;
	margin: auto;
	height: 5rem;
	max-width: 15rem;
}
.nav-button2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	color: #333333;
	text-align: center;
	vertical-align: middle;
	line-height: 5rem; 
	order: 3;
	height: 100%;
	margin: auto;
	height: 5rem;
	max-width: 15rem;
}
.nav-button3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	color: #333333;
	text-align: center;
	vertical-align: middle;
	line-height: 5rem; 
	order: 4;
	height: 100%;
	margin: auto;
	height: 5rem;
	max-width: 15rem;
}
.nav-button4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	color: #333333;
	text-align: center;
	vertical-align: middle;
	line-height: 5rem; 
	order: 5;
	height: 100%;
	margin: auto;
	height: 5rem;
	max-width: 15rem;
}
#nav-button1-hover:hover {
	cursor: pointer;
	color: red;
	text-decoration: line-through;
}
#nav-button2-hover:hover {
	cursor: pointer;
	color: red;
	text-decoration: line-through;
}
#nav-button3-hover:hover {
	cursor: pointer;
	color: red;
	text-decoration: line-through;
}
#nav-button4-hover:hover {
	cursor: pointer;
	color: red;
	text-decoration: line-through;
}
#nav-button1-hover:active {
	opacity: 0.6;
}
#nav-button2-hover:active {
	opacity: 0.6;
}
#nav-button3-hover:active {
	opacity: 0.6;
}
#nav-button4-hover:active {
	opacity: 0.6;
}